.page-header{
    background-color: #f6f5f5;
}
.re-header{
    height: 93px;
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1100px;
    position: relative;
}
.hd-right{
    width: 50%;
    float: left;
}
.hd-left{
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-top: 35px;
    box-sizing: border-box;
}
.hd-right h1{
    font-family: playfair-display,serif;
    text-align: left;
    font-size: 36px;
}
.hd-right p{
    margin: auto;
    font-size: 16px;
    font-family: sans-serif;
}
.hd-right p a{
    color: #212121;
    text-decoration: none;
}
.search-bar input{
    align-items: center;
    display: table-cell;
    background-color: transparent;
    font-size: 12px;
    width: 80%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: #212121;
    padding: 10px 5px 10px 10px;
}
.hd-left button{
    width: 10%;
    height: 30px;
    margin-top: 0;
    background-color: transparent;
    border: none;
}
.hd-left a{
    align-items: center;
    height: 30px;
    background-color: #fbdbe1;
    border-radius: 5px;
    color: #212121!important;
    flex: 0 0 100%;
    flex-basis: 20%!important;
    font-family: source-sans-pro,sans-serif;
    text-align: center;
    font-size: 10px;
    font-weight: 700!important;
    letter-spacing: 1px;
    margin: 0 10px 0 10px!important;
    padding: 10px 15px;
    text-transform: uppercase;
    box-sizing: inherit;
    white-space: nowrap;
    text-decoration: none;
}
.search-bar{
    height: 30px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}
.recipe-container{
    margin-top: 20px;
}
.recipe-left{
    /*float: left;*/
    flex-basis: 15%;
    /*width: 15%;*/
}
.recipe-right{
    /*float: right;*/
    flex-basis: 85%;
    margin-left: 20px;
    /*width: calc(60% - 5px);*/
    box-sizing: border-box;
}
.entry-content{
    margin: 1.5em 0 0;
    box-sizing: border-box;
}
.recipe-filter-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}
.recipe-filter-container .filter-header{
    display: flex;
    align-items: center;
    padding-top: 12px;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    text-transform: uppercase;
    z-index: 2;
}
.filter-title{
    width: 50%;
    margin-top: 3px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
}
.filter-clear{
    border-bottom: 2px solid #c3366f;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    color: #c3366f;
    text-transform: uppercase;
}
.recipe-filter-container .filter-clear:hover{
    border-bottom: solid 2px #f7b8c3;
    color: #f7b8c3;
    cursor: pointer;
}
.accordion-arrow{
    float: right;
    cursor: pointer;
}
.recipe-filter-container .filter-header .accordion-arrow i{
    width: 10px;
    height: 15px;
}
.accordion-content{
    display: none;
    width: 100%;
    max-height: 101px;
    font-style: initial;
    font-family: Serif;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    background-color: #eeecec;
    transition: 900ms;
    z-index: 1;
}
.accordion-content .accordion-content-container{
    padding: 15px 15px 11px;
}
.accordion-content label{
    display: block;
}
.sp-card {
    width: 19%;
    height: 400px;
    border: none;
    box-shadow: 1px 1px 5px lightgray;
}
.sp-card .sp-image img{
    max-width: 100%;
}
.sp-template{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sp-title{
    align-items: center;
    display: flex;
    flex-basis: 100%;
    font-family: Serif;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    margin: 15px 0;
    padding: 0 15px;
    text-align: center;
}
.sp-title a{
    text-decoration: none;
    color: black;
    transition: 400ms;
}
.sp-card:hover a{
    color: #c3366f;
    transition: 150ms;
}
.nav-link{
    box-sizing: inherit;
    display: flex;
    background-color: white;
}
.next-page{
    display: flex;
    justify-content: center;
}
.next-page.next-page.first{
    background-color: #f7b8c3;
}
.next-page.active{
    font-weight: bold;
    cursor: default;
}
.next-page.next-page{
    align-items: center;
    background-color: #fdedf0;
    border-radius: 30px;
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    height: 41px;
    width: 41px;
}
.next-page.next-page a{
    text-decoration: none;
}
.next-page.next-page a:hover{
    background-color: #f7b8c3;
}
.next-page.next-page.dots{
    background-color: transparent;
}
.next-page.next-page.next{
    background-color: transparent;
    font-style: italic;
    font-weight: 700;
}
div{
    display: block;
}
